@model X.PagedList.IPagedList<object>

@{
  string action = "Index";
  if (ViewData.ContainsKey("ActionPag"))
  {
      action = (string)ViewData["ActionPag"]!;
  }
}

<nav aria-label="Page navigation">
    <ul class="pagination @(Model.PageCount == 0 ? "visually-hidden":"")">
        <li class="page-item @(Model.PageNumber == 1 ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(action, new { page = Model.PageNumber - 1 })">Previous</a>
        </li>
        <li class="page-item @(Model.PageNumber == Model.PageCount ? "disabled" : "")">
            <a class="page-link" href="@Url.Action(action, new { page = Model.PageNumber + 1 })">Next</a>
        </li>
    </ul>
</nav>

