@model Bubblevel_MatchService.Models.Intervention

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Intervention</h4>
    <hr />
    <dl class="row g-2">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.InterventionDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.InterventionDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Duration)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Duration)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.SupportIncident)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SupportIncident.Summary)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
