@model Bubblevel_MatchService.Models.Intervention

@{
    ViewData["Title"] = "Edit";
}

<h1>Send Intervention Email</h1>

<div class="alert alert-light">Intervention to @ViewBag.CustomerName</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Email">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="Description" />
            <input type="hidden" asp-for="InterventionDate" />
            <input type="hidden" asp-for="Duration" />
            <input asp-for="SupportIncidentId" type="hidden" value="@ViewBag.SupportId" />

            <div class="form-group mt-4">
                <label asp-for="Description" class="control-label"></label>
                <div class="alert alert-light">
                    @Html.DisplayFor(model => model.Description)
                </div>
            </div>

            <div class="form-group mt-4">
                <label asp-for="InterventionDate" class="control-label"></label>
                <div class="alert alert-light">
                    @Html.DisplayFor(model => model.InterventionDate)
                </div>
            </div>

            <div class="form-group mt-4">
                <label asp-for="Duration" class="control-label"></label>
                <div class="alert alert-light">
                    @Html.DisplayFor(model => model.Duration)
                </div>
            </div>

            <div class="form-group mt-4">
                <input type="submit" value="Send Email" class="btn btn-primary" asp-route-customerName="@ViewBag.CustomerName" />
            </div>
        </form>
    </div>
</div>

<div class="mt-4">
    <a asp-action="Index" asp-route-id="@ViewBag.SupportId">Back to List</a>
</div>

@section Scripts {
    @{
      await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
