@model IEnumerable<Bubblevel_MatchService.Models.Intervention>

@{
    ViewData["Title"] = "Interventions";
}

<h3>Interventions of @ViewBag.CustomerName</h3>

<div class="alert alert-light">
    @ViewBag.Summary
</div>

<p>
    <a asp-action="Create"
       asp-route-supportId="@ViewBag.SupportId"
       asp-route-customerName="@ViewBag.CustomerName"
       class="btn btn-outline-primary mt-2">Create New Intervention</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.InterventionDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InterventionDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Duration)
            </td>
            <td>
                <div class="btn-group">
                    <button class="btn btn-primary btn-sm dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Options
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" asp-action="Edit"
                               asp-route-supportId="@ViewBag.SupportId"
                               asp-route-customerName="@ViewBag.CustomerName"
                               asp-route-id="@item.Id"><span class="mdi mdi-circle-edit-outline mr-2"></span> Edit</a>
                        </li>
                        <li>
                            <a class="dropdown-item" asp-action="Email"
                               asp-route-supportId="@ViewBag.SupportId"
                               asp-route-customerName="@ViewBag.CustomerName"
                               asp-route-id="@item.Id">
                                <span class="mdi mdi-email-outline mr-2"></span>
                                Email
                            </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                            <a asp-action="Delete" class="dropdown-item"
                               asp-route-supportId="@ViewBag.SupportId"
                               asp-route-customerName="@ViewBag.CustomerName"
                               asp-route-id="@item.Id"><i class="mdi mdi-trash-can-outline mr-2"></i>Delete</a>
                        </li>
                    </ul>
                </div>                
            </td>
        </tr>
}
    </tbody>
</table>


<div class="mt-4">
    <a asp-action="ListInProgress" asp-controller="SupportIncident">Back to List</a>
</div>